# Hands On Object Oriented Programming in Python


1. **Creating a Simple Class**  
   - Syntax and structure of a class in Python  
---
2. **Understanding `__init__` and Attributes**  
   - Purpose of the constructor  
   - Initializing data when creating an object  
---
3. **Understanding the Meaning of `self`**  
   - Role of `self` in accessing instance data  
   - Why it must be the first parameter in methods  
---

4. **Creating Instances (Objects)**  
   - How to instantiate a class  
   - Real-world examples of objects

---

5. **Accesing the methods using instance v/s class**
---

6. **Namespace of instances and classes**
---

7. **Method resolution order ( MRO )**
---
8. **Adding Variables and Methods to a Class**  
   - Instance variables (object-specific data)  
   - Defining methods (object behaviors)  
---
9. **Class Variables vs Instance Variables**  
 
---
10. **Class Methods vs Instance Methods vs Static Methods**  
   - Use cases for `@classmethod` and `@staticmethod`  
   - How they differ from instance methods  
---
11. **Magic Methods**  
   - Special methods like `__str__`, `__len__`, `__add__`  
   - How they allow operator overloading  
---
12. **Inheritance**  
    - Creating subclasses  
    - Reusing and extending functionality  
---
13. **Polymorphism**  
    - Same method name, different behaviors  
---
14. **Method Overriding**  
    - Changing behavior of inherited methods  
---
15. **@property decorator**
        - getters, setters and deleters
---

16. **Name Mangling in Python**
---

## creating classes and instances

In [17]:
## blueprint
class Car:
    pass

In [18]:
my_car = Car() # creating instance of the class car
your_car = Car()

In [20]:
print(type(my_car))

<class '__main__.Car'>

In [30]:
my_car.name  = "Creta"
my_car.brand = "Hyundai"
my_car.category = "SUV"

In [31]:
my_car.category

'SUV'

In [32]:
your_car.name  = "City"
your_car.brand = "Honda"
your_car.category = "Sedan"

In [34]:
your_car.brand

'Honda'

# constructor method or __init__method

In [62]:
class Car:

    def __init__(self, name, brand, category):
        
        self.name  = name
        self.brand = brand
        self.category = category

In [63]:
my_car = Car(name = "creta", brand = "Hyundai", category = "SUV")

In [64]:
your_car = Car(name = "City", brand = "Honda", category = "Sedan" )

In [59]:
your_car.mileage = 20

In [60]:
your_car.__dict__

{'name': 'City',
 'brand': 'Honda',
 'category': 'Sedan',
 'engine_type': None,
 'mileage': 20}

In [ ]:
my_car.name  = "Creta"
my_car.brand = "Hyundai"
my_car.category = "SUV"

In [40]:
my_car.name, my_car.brand, my_car.category

('creta', 'Hyundai', 'SUV')

In [44]:
your_car.name, your_car.brand, your_car.category

('City', 'Honda', 'Sedan')

## adding methods to the class
    - instance methods
    - class methods
    - static methods

In [95]:
class Car:

    def __init__(self, name, brand, category):
        
        self.name  = name
        self.brand = brand
        self.category = category

    # instance methods
    def drive(self):
        print(f"{self.name} is now driving")

    def brake(self):
        print(f"{self.name}  is appying brakes!!")
        
    def park(self):
        print(f"{self.name} is now parked!")

In [97]:
my_car = Car(name = "creta", brand = "Hyundai", category = "SUV")

In [98]:
your_car = Car(name = "City", brand = "Honda", category = "Sedan" )

In [84]:
your_car.park()

City is now parked!

In [85]:
my_car.drive()

creta is now driving

## alternate syntax to call the methods

In [99]:
your_car.park() # accesing the method using the instance

City is now parked!

In [100]:
Car.park(your_car) # accesing the method using the class

City is now parked!

### name space of any instance and  class

In [101]:
my_car.__dict__

{'name': 'creta', 'brand': 'Hyundai', 'category': 'SUV'}

In [102]:
your_car.__dict__

{'name': 'City', 'brand': 'Honda', 'category': 'Sedan'}

In [104]:
my_car.mileage = 19

In [105]:
my_car.__dict__

{'name': 'creta', 'brand': 'Hyundai', 'category': 'SUV', 'mileage': 19}

In [107]:
your_car.engine_type = "petrol"

In [108]:
your_car.__dict__

{'name': 'City',
 'brand': 'Honda',
 'category': 'Sedan',
 'engine_type': 'petrol'}

## Plan
    - create class Employee
    
    - attributes:
        - name
        - deptt
        - salary
        - manager
        - designation

    - methods
        - promotion
        - resign
        - punch in 
        - punch out

In [133]:
class Employee():

    organization_name = "codeverra"
    
    def __init__( self, emp_name, emp_deptt, emp_dob):
        self.name = emp_name
        self.deptt = emp_deptt
        self.dob = emp_dob
        self.email = self.get_email()

    def get_email(self): # instance method
        email = self.name.lower() + "@" + "gmail.com"
        return email

    def give_promotion

In [134]:
rohan = Employee( "Rohan","Finance", "1995-09-08" )
kiran = Employee( "Kiran","HR", "1990-10-18" )

In [135]:
rohan.organization_name

'codeverra'

In [139]:
kiran.organization_name

'codeverra'

In [136]:
rohan.__dict__

{'name': 'Rohan',
 'deptt': 'Finance',
 'dob': '1995-09-08',
 'email': 'rohan@gmail.com'}

In [140]:
rohan.organization_name = "techverra"

In [142]:
rohan.__dict__

{'name': 'Rohan',
 'deptt': 'Finance',
 'dob': '1995-09-08',
 'email': 'rohan@gmail.com',
 'organization_name': 'techverra'}

In [143]:
rohan.organization_name

'techverra'

In [144]:
kiran.organization_name

'codeverra'

In [145]:
Employee.organization_name = "Dataverra"

In [146]:
kiran.organization_name

'Dataverra'

In [147]:
rohan.organization_name

'techverra'

In [148]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              '__firstlineno__': 1,
              'organization_name': 'Dataverra',
              '__init__': <function __main__.Employee.__init__(self, emp_name, emp_deptt, emp_dob)>,
              'get_email': <function __main__.Employee.get_email(self)>,
              '__static_attributes__': ('deptt', 'dob', 'email', 'name'),
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [137]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              '__firstlineno__': 1,
              'organization_name': 'codeverra',
              '__init__': <function __main__.Employee.__init__(self, emp_name, emp_deptt, emp_dob)>,
              'get_email': <function __main__.Employee.get_email(self)>,
              '__static_attributes__': ('deptt', 'dob', 'email', 'name'),
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [116]:
print(type(rohan))

<class '__main__.Employee'>

In [131]:
rohan.get_email()

'rohan@gmail.com'

In [132]:
rohan.email

'rohan@gmail.com'

In [151]:
class Employee():

    organization_name = "codeverra"
    
    def __init__( self, emp_name, emp_deptt, emp_dob, emp_salary = None):
        self.name = emp_name
        self.deptt = emp_deptt
        self.dob = emp_dob
        self.email = self.get_email()
        self.salary = emp_salary

    def get_email(self): # instance method
        email = self.name.lower() + "@" + "gmail.com"
        return email

    def give_appraisal(self, appraisal_percent):
        self.salary = self.salary * (1 + appraisal_percent)
        print(f"Promotion given to {self.name}! The new salary is {self.salary} !! ")

In [152]:
ramesh = Employee( "Ramesh","Finance", "1995-09-08", 50000 )
ghanshyam = Employee( "Ghanshyam","Tech", "1990-10-18", 40000 )

In [153]:
ramesh.email

'ramesh@gmail.com'

In [154]:
ghanshyam.email

'ghanshyam@gmail.com'

In [156]:
ramesh.salary, ghanshyam.salary

(50000, 40000)

In [157]:
ramesh.give_appraisal(0.2)

Promotion given to Ramesh! The new salary is 60000.0 !!

In [158]:
ramesh.salary

60000.0

In [169]:
class Employee():

    organization_name = "codeverra"
    appraisal_percent = 0.1
    
    def __init__( self, emp_name, emp_deptt, emp_dob, emp_salary = None):
        self.name = emp_name
        self.deptt = emp_deptt
        self.dob = emp_dob
        self.email = self.get_email()
        self.salary = emp_salary

    def get_email(self): # instance method
        email = self.name.lower() + "@" + "gmail.com"
        return email

    def give_appraisal(self):
        self.salary = self.salary * (1 + self.appraisal_percent)
        print(f"Promotion of {self.appraisal_percent *100} % given to {self.name}! The new salary is {self.salary} !! ")

In [170]:
ramesh = Employee( "Ramesh","Finance", "1995-09-08", 50000 )
ghanshyam = Employee( "Ghanshyam","Tech", "1990-10-18", 40000 )

In [174]:
mohan = Employee( "Mohan","Sales", "1990-10-18",80000 )

In [171]:
ramesh.salary

50000

In [172]:
ramesh.give_appraisal()

Promotion of 10.0 % given to Ramesh! The new salary is 55000.00000000001 !!

In [173]:
ghanshyam.give_appraisal()

Promotion of 10.0 % given to Ghanshyam! The new salary is 44000.0 !!

In [175]:
mohan.give_appraisal()

Promotion of 10.0 % given to Mohan! The new salary is 88000.0 !!

In [176]:
mohan.appraisal_percent = 0.5

In [177]:
mohan.give_appraisal()

Promotion of 50.0 % given to Mohan! The new salary is 132000.0 !!

In [178]:
mohan.__dict__

{'name': 'Mohan',
 'deptt': 'Sales',
 'dob': '1990-10-18',
 'email': 'mohan@gmail.com',
 'salary': 132000.0,
 'appraisal_percent': 0.5}

# class methods


### What is a @classmethod?

        A class method is a method that gets the class as its first argument instead of an instance. By convention that first argument is named cls.
        
        Declared with the @classmethod decorator.
        
        Useful when behavior concerns the class itself (not a particular instance), or when you want an alternative constructor or a factory that adapts to subclasses.

In [218]:
class Employee():

    organization_name = "codeverra"# class variables
    appraisal_percent = 0.1 # class variables
    
    def __init__( self, emp_name, emp_deptt, emp_dob, emp_salary = None):
        self.name = emp_name
        self.deptt = emp_deptt
        self.dob = emp_dob
        self.email = self.get_email()
        self.salary = emp_salary

    def get_email(self): # instance method
        email = self.name.lower() + "@" + "gmail.com"
        return email

    def give_appraisal(self): # instance methods
        self.salary = self.salary * (1 + self.appraisal_percent)
        print(f"Promotion of {self.appraisal_percent *100} % given to {self.name}! The new salary is {self.salary} !! ")

    @classmethod
    def set_organisation_name(cls, organization_name):
        cls.organization_name = organization_name

In [211]:
ramesh = Employee( "Ramesh","Finance", "1995-09-08", 50000 )
ghanshyam = Employee( "Ghanshyam","Tech", "1990-10-18", 40000 )

In [212]:
ramesh.set_organisation_name("techverra")

In [213]:
Employee.organization_name

'techverra'

In [214]:
# accessed a class method using the class ( standard way )
Employee.set_organisation_name("Google")

In [215]:
ramesh.set_organisation_name("Meta")

In [216]:
Employee.organization_name

'Meta'

In [217]:
Employee.organization_name

'Meta'

In [202]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              '__firstlineno__': 1,
              'organization_name': 'Google',
              'appraisal_percent': 0.1,
              '__init__': <function __main__.Employee.__init__(self, emp_name, emp_deptt, emp_dob, emp_salary=None)>,
              'get_email': <function __main__.Employee.get_email(instance)>,
              'give_appraisal': <function __main__.Employee.give_appraisal(self)>,
              'set_organisation_name': <classmethod(<function Employee.set_organisation_name at 0x114ab3c40>)>,
              '__static_attributes__': ('deptt',
               'dob',
               'email',
               'name',
               'salary'),
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [188]:
ramesh.get_email()

'ramesh@gmail.com'

In [189]:
Employee.organization_name

'codeverra'

In [190]:
ramesh.organization_name

'codeverra'

In [255]:
class Employee():

    organization_name = "codeverra"# class variables
    appraisal_percent = 0.1 # class variables
    
    def __init__( self, emp_name, emp_deptt, emp_dob, emp_salary = None):
        self.name = emp_name
        self.deptt = emp_deptt
        self.dob = emp_dob
        self.email = self.get_email()
        self.salary = emp_salary

    def get_email(self): # instance method
        email = self.name.lower() + "@" + "gmail.com"
        return email

    def give_appraisal(self): # instance methods
        self.salary = self.salary * (1 + self.appraisal_percent)
        print(f"Promotion of {self.appraisal_percent *100} % given to {self.name}! The new salary is {self.salary} !! ")

    @classmethod
    def set_organisation_name(cls, organization_name):
        cls.organization_name = organization_name

    @classmethod
    def update_appraisal_percent(cls, appraisal_pct): # this is a class method
        cls.appraisal_percent = appraisal_pct

    def update_appraisal_percentage_for_employee(self, appraisal_pct): # instance method because slef is being passed
        self.appraisal_percent = appraisal_pct

In [246]:
ramesh = Employee( "Ramesh","Finance", "1995-09-08", 50000 )
ghanshyam = Employee( "Ghanshyam","Tech", "1990-10-18", 40000 )
shyam = Employee( "Shyam","HR", "1991-10-18", 80000 )

In [247]:
Employee.appraisal_percent

0.1

In [253]:
Employee.update_appraisal_percent(0.9) # we are using a class method, so the class variable is being changed

In [250]:
ramesh.update_appraisal_percentage_for_employee(0.8) # here we are using a instance method wjhich will change only the instance ramesh

In [254]:
print(ramesh.appraisal_percent)
print(ghanshyam.appraisal_percent)
print(shyam.appraisal_percent)

0.8
0.9
0.9

In [252]:
ramesh.__dict__

{'name': 'Ramesh',
 'deptt': 'Finance',
 'dob': '1995-09-08',
 'email': 'ramesh@gmail.com',
 'salary': 50000,
 'appraisal_percent': 0.8}

## class methods as alternate constructors

In [256]:
class Student:
    
    def __init__(self, name, city, dob):
        self.name = name
        self.city = city
        self.dob = dob

    def show_detail(self):
        return f"{self.name} - {self.city} - {self.dob}"

In [259]:
student1 = Student("Rohan", "Delhi", "1990-09-07" )
student2 = Student("Mohan", "Kolkata", "1990-09-07" )

In [ ]:
dataset = '''Amit Sharma,Delhi,2001-05-14
Priya Mehta,Mumbai,1999-11-23
Rajesh Kumar,Bengaluru,2000-07-09
Sneha Iyer,Chennai,2002-01-30
Arjun Reddy,Hyderabad,1998-12-15
'''

In [262]:
student_string = "Amit Sharma,Delhi,2001-05-14"

name, city, dob = student_string.split(",")

student3 = Student(name, city, dob)

In [263]:
student3.show_detail()

'Amit Sharma - Delhi - 2001-05-14'

In [264]:
class Student:
    
    def __init__(self, name, city, dob):
        self.name = name
        self.city = city
        self.dob = dob

    def show_detail(self):
        return f"{self.name} - {self.city} - {self.dob}"

    @classmethod
    def from_string(cls, student_string): # acting as an alternate constructor
        name, city, dob = student_string.split(",")
        return cls(name,  city, dob) # returning the instance of the class

In [ ]:
student_string = "Amit Sharma,Delhi,2001-05-14"

name, city, dob = student_string.split(",")

student3 = Student(name, city, dob)

In [268]:
student_string = "Priya Mehta,Mumbai,1999-11-23"

In [269]:
student4 = Student.from_string(student_string)

In [270]:
student4.show_detail()

'Priya Mehta - Mumbai - 1999-11-23'

In [324]:
class Student:
    
    def __init__(self, name, city, dob):
        self.name = name
        self.city = city
        self.dob = dob
        print("Student created!!!")

    def show_detail(self):
        print (f"{self.name} - {self.city} - {self.dob}")

    @classmethod
    def from_string(cls, student_string): # acting as an alternate constructor
        student_data = student_string.split(",")
        name, city, dob = student_data
        if len(student_data) != 3:
            raise Exception(f"Invalid student data provided for {student_string}")
        return cls(name, city, dob) # returning the instance of the class 

    @classmethod
    def from_list(cls, student_data_list): # acting as an alternate constructor
        list_of_student_instances = []
        for student_data in student_data_list:
            print(student_data)
            try:
                list_of_student_instances.append(cls.from_string(student_data))
            except Exception as e:
                print("There was some issue!!!")
                print(student_data)
        
        return list_of_student_instances

In [11]:
dataset = '''Amit Sharma,Delhi,2001-05-14
Priya Mehta,Mumbai,1999-11-23
Rajesh Kumar,Bengaluru,2000-07-09
Sneha Iyer,Chennai,2002-01-30
Arjun Reddy,Hyderabad,1998-12-15
'''

student_data_list =   dataset.split("\n")
print(student_data_list)

['Amit Sharma,Delhi,2001-05-14', 'Priya Mehta,Mumbai,1999-11-23', 'Rajesh Kumar,Bengaluru,2000-07-09', 'Sneha Iyer,Chennai,2002-01-30', 'Arjun Reddy,Hyderabad,1998-12-15', '']

In [12]:
list_of_students = Student.from_list(student_data_list)

Amit Sharma,Delhi,2001-05-14
Student created!!!
Priya Mehta,Mumbai,1999-11-23
Student created!!!
Rajesh Kumar,Bengaluru,2000-07-09
Student created!!!
Sneha Iyer,Chennai,2002-01-30
Student created!!!
Arjun Reddy,Hyderabad,1998-12-15
Student created!!!

There was some issue!!!

In [13]:
list_of_students

[<__main__.Student at 0x1149f46e0>,
 <__main__.Student at 0x114a48050>,
 <__main__.Student at 0x114a48190>,
 <__main__.Student at 0x111d13360>,
 <__main__.Student at 0x111d12d70>]

In [41]:
str(stud)

'<__main__.Student object at 0x1149f4ad0>'

In [40]:
str([1, 2, 3])

'[1, 2, 3]'

In [39]:
print([1, 2, 3])

[1, 2, 3]

In [14]:
list_of_students[-1].name

'Arjun Reddy'

In [15]:
for student_data in student_data_list:
    try:
        Student.from_string(student_data).show_detail()
    except Exception as e:
        print(student_data)

Student created!!!
Amit Sharma - Delhi - 2001-05-14
Student created!!!
Priya Mehta - Mumbai - 1999-11-23
Student created!!!
Rajesh Kumar - Bengaluru - 2000-07-09
Student created!!!
Sneha Iyer - Chennai - 2002-01-30
Student created!!!
Arjun Reddy - Hyderabad - 1998-12-15

## static methods
    - They dont take class or intance as a parameter
    - Utility functions

In [16]:
import datetime

In [17]:
class Student:
    
    def __init__(self, name, city, dob):
        self.name = name
        self.city = city
        self.dob = dob
        self.age = self.calculate_age(self.dob)  # static method
        print("Student created!!!")

    def show_detail(self):
        print (f"{self.name} - {self.city} - {self.dob}")

    @classmethod
    def from_string(cls, student_string): # acting as an alternate constructor
        student_data = student_string.split(",")
        name, city, dob = student_data
        if len(student_data) != 3:
            raise Exception(f"Invalid student data provided for {student_string}")
        return cls(name, city, dob) # returning the instance of the class 

    @classmethod
    def from_list(cls, student_data_list): # acting as an alternate constructor
        list_of_student_instances = []
        for student_data in student_data_list:
            print(student_data)
            try:
                list_of_student_instances.append(cls.from_string(student_data))
            except Exception as e:
                print("There was some issue!!!")
                print(student_data)
        
        return list_of_student_instances

    @staticmethod
    def calculate_age(dob):  # static method
        current_year = str(datetime.datetime.now().year)
        year_of_birth = dob.split("-")[0]
        age = int(current_year) - int(year_of_birth)
        return age

 
    # def calculate_age(self):  # static method
    #     current_year = str(datetime.datetime.now().year)
    #     year_of_birth = self.dob.split("-")[0]
    #     age = int(current_year) - int(year_of_birth)
    #     return age

In [37]:
def calculate_age(dob):  # static method
        current_year = str(datetime.datetime.now().year)
        # year_of_birth = dob.split("-")[0]
        year_of_birth = (datetime.datetime.strptime(dob, "%Y-%m-%d").year)
        age = int(current_year) - int(year_of_birth)
        return age

In [38]:
calculate_age(dob)

21

In [19]:
Student.calculate_age("2004-08-09")

21

In [24]:
stud.calculate_age("2004-08-09")

21

In [36]:
dob = "2004-08-09"

(datetime.datetime.strptime(dob, "%Y-%m-%d").year)

2004

In [33]:
(datetime.datetime.now())

datetime.datetime

In [20]:
stud = Student.from_string(student_data_list[1])

Student created!!!

In [21]:
stud.name, stud.dob

('Priya Mehta', '1999-11-23')

In [22]:
# stud.calculate_age('2001-05-14')

In [23]:
stud.age

26

In [333]:
dob = "1998-12-15"


age = current_year - year_of_birth

In [340]:
year_of_birth = dob.split("-")[0]

In [337]:
import datetime
current_year = str(datetime.datetime.now().year)

In [343]:
int(current_year) - int(year_of_birth)

27

## __ repr __ and __ str __

In [78]:
class Student:
    
    def __init__(self, name, city, dob):
        self.name = name
        self.city = city
        self.dob = dob
        print("Student created!!!")

    def show_detail(self):
        print (f"{self.name} - {self.city} - {self.dob}")

    @classmethod
    def from_string(cls, student_string): # acting as an alternate constructor
        student_data = student_string.split(",")
        name, city, dob = student_data
        if len(student_data) != 3:
            raise Exception(f"Invalid student data provided for {student_string}")
        return cls(name, city, dob) # returning the instance of the class 

    @classmethod
    def from_list(cls, student_data_list): # acting as an alternate constructor
        list_of_student_instances = []
        for student_data in student_data_list:
            print(student_data)
            try:
                list_of_student_instances.append(cls.from_string(student_data))
            except Exception as e:
                print("There was some issue!!!")
                print(student_data)
        
        return list_of_student_instances

    ## magic methods for representation
    def __str__(self):
        return f"{self.name} - {self.city} - {self.dob}"

    def __repr__(self):
        return f"Student({self.name},  {self.city} ,  {self.dob})"

    def __add__(self, other_student):
        return f"{self.name} - {other_student.name}"

In [84]:
stud1 = Student.from_string(student_data_list[1])
stud2 = Student.from_string(student_data_list[2])

Student created!!!
Student created!!!

In [85]:
print(stud1)

Priya Mehta - Mumbai - 1999-11-23

In [86]:
stud1

Student(Priya Mehta,  Mumbai ,  1999-11-23)

In [87]:
[stud1, stud2]

[Student(Priya Mehta,  Mumbai ,  1999-11-23),
 Student(Rajesh Kumar,  Bengaluru ,  2000-07-09)]

In [88]:
list_of_students = Student.from_list(student_data_list)

Amit Sharma,Delhi,2001-05-14
Student created!!!
Priya Mehta,Mumbai,1999-11-23
Student created!!!
Rajesh Kumar,Bengaluru,2000-07-09
Student created!!!
Sneha Iyer,Chennai,2002-01-30
Student created!!!
Arjun Reddy,Hyderabad,1998-12-15
Student created!!!

There was some issue!!!

In [89]:
list_of_students

[Student(Amit Sharma,  Delhi ,  2001-05-14),
 Student(Priya Mehta,  Mumbai ,  1999-11-23),
 Student(Rajesh Kumar,  Bengaluru ,  2000-07-09),
 Student(Sneha Iyer,  Chennai ,  2002-01-30),
 Student(Arjun Reddy,  Hyderabad ,  1998-12-15)]

In [90]:
list_of_students[0].name

'Amit Sharma'

In [91]:
(type(list_of_students[0]))

__main__.Student

In [93]:
stud2.name

'Rajesh Kumar'

In [92]:
stud1 + stud2

'Priya Mehta - Rajesh Kumar'

In [ ]:
stud1 > stud2