**Given a list of number find the sum of the all the numbers in the list**

In [1]:
nums = [1, 2, 3, 4, 5]

sum_of_numbers = 0
for num in nums:
    sum_of_numbers += num
    
sum_of_numbers

15

In [3]:
nums2 = [11, 21, 33, 14, 51]

In [2]:
sum(nums)

15

In [4]:
sum(nums2)

130

A **function** is a block of organized, reusable code that performs a specific task. 
Functions help to:
- reduce code redundancy
- enhance readability
- maintain modularity.

    - In built functions
        - sum
        - zip
        - enumerate
        - print
        - sqrt
        
    -  User Defined Functions

## Built in function in Python

In [5]:
nums

[1, 2, 3, 4, 5]

In [10]:
length_of_nums = len(nums)
length_of_nums

5

In [7]:
print(nums)

[1, 2, 3, 4, 5]

In [8]:
print("hello")

hello

In [9]:
name = input("Enter your name")
print(name)

Enter your nameRam
Ram

In [11]:
sum([1, 2, 3])

6

In [13]:
sum((10, 21, 32))

63

In [14]:
nums

[1, 2, 3, 4, 5]

In [15]:
max(nums)

5

In [16]:
min(nums)

1

In [17]:
sorted(nums) ## nums here is a argument

[1, 2, 3, 4, 5]

In [18]:
type(nums)

list

In [21]:
print(list(range(1, 10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
range()

## User Defined Functions
    - Defining the function
    - Calling the function ( use the function )

In [ ]:
nums = [1, 2, 3, 4, 5]

sum_of_numbers = 0
for num in nums:
    sum_of_numbers += num
    
sum_of_numbers

In [22]:
num1 = 5
num2 = 10

sum_of_nums = num1 + num2 
print(sum_of_nums)

15

In [31]:
# defining the function
def add(x, y): # x and y are called parameters of the function
    z = x + y
    print(z)
    
def greet(name):
    print(f"Hello {name}. How are you??")

In [30]:
# calling the function
add(15, 70) # 5 and 10 are called arguments to the function

85

In [32]:
greet("Mr. Sharma")

Hello Mr. Sharma. How are you??

In [ ]:
nums = [1, 2, 3, 4, 5]

sum_of_numbers = 0
for num in nums:
    sum_of_numbers += num
    
sum_of_numbers

In [48]:
def get_sum_of_list(list_of_numbers):
    sum_of_numbers = 0
    for num in list_of_numbers:
        sum_of_numbers += num
#     print(f"The sum is:  {sum_of_numbers}")
    
    return sum_of_numbers

In [35]:
get_sum_of_list([4, 5, 10])

The sum is:  19

In [38]:
x = sum([4, 5, 10])
x

19

In [43]:
y = get_sum_of_list([4, 5, 10])

The sum is:  19

In [41]:
x

19

In [45]:
y == 19

True

In [51]:
a = get_sum_of_list((11, 2, 3))

In [52]:
a

16

**Write a function to print the multiplication table of any given number**

In [55]:
num = 5

for i in range(11):
    print(f"5 X {i}  = {5*i}")

5 X 0  = 0
5 X 1  = 5
5 X 2  = 10
5 X 3  = 15
5 X 4  = 20
5 X 5  = 25
5 X 6  = 30
5 X 7  = 35
5 X 8  = 40
5 X 9  = 45
5 X 10  = 50

In [56]:
def get_multiplication_table(number):
    
    for i in range(11):
        print(f"{number} X {i}  = {number*i}")

In [57]:
get_multiplication_table(9)

9 X 0  = 0
9 X 1  = 9
9 X 2  = 18
9 X 3  = 27
9 X 4  = 36
9 X 5  = 45
9 X 6  = 54
9 X 7  = 63
9 X 8  = 72
9 X 9  = 81
9 X 10  = 90

In [58]:
get_multiplication_table(17)

17 X 0  = 0
17 X 1  = 17
17 X 2  = 34
17 X 3  = 51
17 X 4  = 68
17 X 5  = 85
17 X 6  = 102
17 X 7  = 119
17 X 8  = 136
17 X 9  = 153
17 X 10  = 170

In [62]:
def get_multiplication_table(number, count = 11):
    
    for i in range(count):
        print(f"{number} X {i}  = {number*i}")

In [67]:
get_multiplication_table(12,  20)

12 X 0  = 0
12 X 1  = 12
12 X 2  = 24
12 X 3  = 36
12 X 4  = 48
12 X 5  = 60
12 X 6  = 72
12 X 7  = 84
12 X 8  = 96
12 X 9  = 108
12 X 10  = 120
12 X 11  = 132
12 X 12  = 144
12 X 13  = 156
12 X 14  = 168
12 X 15  = 180
12 X 16  = 192
12 X 17  = 204
12 X 18  = 216
12 X 19  = 228

# Functions Practice

**Write a program that takes a list and an element as input and returns how many times the element appears in the list.**

In [74]:
numbers = [5, 6, 7, 3, 4, 6, 7, 8, 1, 2, 5, 5]
element = 5

In [75]:
counter= 0
for num in numbers:
    if num == element:
        counter += 1
print(counter)

3

In [78]:
def count_occurences(list_of_numbers, element):
    '''
    This function takes a list of numbers and an element and return the number of occurences of the 
    element in the list. 
    
    Params:
        list_of_numbers -
        element -
    
    Returns:
        counter - 
    '''
    counter= 0
    for num in list_of_numbers:
        if num == element:
            counter += 1
    return counter

In [80]:
count_occurences(list_of_numbers=[1, 2, 3, 1, 1, 1], element=3)

1

**Write a function that takes two lists and returns a new list with elements that are common to both.**

In [83]:
list1 = [1, 2,3 , 4, 5]
list2 = [ 4, 5, 6, 7, 8]

# [4, 5]

In [86]:
def list_intersection(list1, list2):
    intersection_list = []
    for number in list1:
        if number in list2:
            intersection_list.append(number)
            
    return intersection_list

In [88]:
list1 = [1, 2,3 , 4, 5, 6, 7, 8]
list2 = [ 4, 5, 6, 7, 8, 6]

list_intersection(list1=list1, list2= list2)

[4, 5, 6, 7, 8]

In [91]:
def list_intersection(list1, list2):
    intersection_list = set(list1).intersection(list2)
            
    return list(intersection_list)

In [92]:
list_intersection(list1=list1, list2= list2)

[4, 5, 6, 7, 8]

In [95]:
def list_intersection(list1, list2):
    return list(set(list1).intersection(list2))

In [94]:
list_intersection(list1=list1, list2= list2)

{4, 5, 6, 7, 8}

In [97]:
def list_intersection(list1, list2):
    return [number for number in list1 if number in list2]

list_intersection(list1=list1, list2= list2)

[4, 5, 6, 7, 8]

**Write a function to reverse a given list without using the built-in `reverse()` method or slicing**

In [103]:
list1 = [5, 3, 8, 7]

In [100]:
list1.reverse()

In [101]:
list1

[7, 8, 3, 5]

In [104]:
list1[::-1]

[7, 8, 3, 5]

In [114]:
list1

[5, 3, 8, 7]

In [120]:
list(range(len(list1)-1, -1, -1))

[3, 2, 1, 0]

In [124]:
reversed_list = []
for ind in range(len(list1)-1, -1, -1):
    reversed_list.append(list1[ind])
reversed_list

[7, 8, 3, 5]

In [130]:
def reverse_list(list_):
    reversed_ = []
    for ind in range(len(list_)-1, -1, -1):
        reversed_.append(list_[ind])
    return reversed_


reverse_list(["Apple", "banana", "Mango"])

['Mango', 'banana', 'Apple']

**Write a Function to Calculate the GST for a Product.**

In [135]:
price = 1000
gst = 1000*0.18

In [138]:
def calculate_gst(price):
    return price * 0.18

calculate_gst(50)

9.0

In [140]:
price = int(input("Enter the price: "))
print(f"Final Price = {price + calculate_gst(price)}")

Enter the price: 90
Final Price = 106.2

**Given the marks of a student show the grade**
```python
grade_mapping = {
    (90, 100): 'A',
    (80, 89): 'B',
    (70, 79): 'C',
    (60, 69): 'D',
    (0, 59): 'F'
}
```

In [155]:
grade_mapping = {
    (90, 100): 'A',
    (80, 89): 'B',
    (70, 79): 'C',
    (60, 69): 'D',
    (0, 59): 'F'
}

In [161]:
def map_marks_to_grade(marks, grade_mapping):
    if (marks > 100) or (marks < 0):
        return "Invalid Input"

    for marks_range, grade in grade_mapping.items():
        if (marks >= marks_range[0]) and (marks <= (marks_range[1])):
            return grade
        
        
map_marks_to_grade(74, grade_mapping= grade_mapping)

'C'

In [163]:
marks = int(input("Enter your marks:  "))
print(f"Your grade is: {map_marks_to_grade(marks, grade_mapping)}")

Enter your marks:  0
Your grade is: F

## Args and Kwargs

In [4]:
def add(x, y):
    return x+y

In [6]:
add(6, 7, 8)

TypeError: add() takes 2 positional arguments but 3 were given

In [10]:
def add(*args):
    print(sum(args))
#     return x+y

In [14]:
add(5, 6, 7, 10)

28

In [15]:
def add(*apple):
    print(sum(apple))
#     return x+y

In [16]:
add(6, 7, 8)

21

### kwargs ---> keyword arguments

In [17]:
def get_multiplication_table(number, count = 11):
    
    for i in range(count):
        print(f"{number} X {i}  = {number*i}")

In [21]:
get_multiplication_table(10,   11 )

10 X 0  = 0
10 X 1  = 10
10 X 2  = 20
10 X 3  = 30
10 X 4  = 40
10 X 5  = 50
10 X 6  = 60
10 X 7  = 70
10 X 8  = 80
10 X 9  = 90
10 X 10  = 100

In [26]:
def print_details(name, city):
    print(f"Name: {name} \nCity: {city}")

In [27]:
print_details(name = "Rajesh", city = "Delhi")

Name: Rajesh
City: Delhi

In [28]:
print_details(name = "Rajesh", city = "Delhi", salary = 10000)

TypeError: print_details() got an unexpected keyword argument 'salary'

In [35]:
def print_details(**kwargs):
#     print(kwargs)
    for key , value in kwargs.items():
        print(f"{key} : {value}")

In [38]:
print_details(name = "Rajesh", city = "Delhi", education = "Graduate")

name : Rajesh
city : Delhi
education : Graduate

In [44]:
def test_function(*args, **kwargs):
    print("Positional Arguments:  ",args)
    print("Keyword Arguments: ", kwargs)

In [45]:
test_function(3, 4, 5, "apple", name = "Ramesh", city = "Delhi")

Positional Arguments:   (3, 4, 5, 'apple')
Keyword Arguments:  {'name': 'Ramesh', 'city': 'Delhi'}

**Create a function called `grocery_bill` that calculates the total cost of items.  If a discount is provided, apply it to the total bill.**

In [46]:
'''
apple= 100
banana = 200
milk = 30
discount = 0.1

'''

'\napple= 100\nbanana = 200\nmilk = 30\ndiscount = 0.1\n\n'

In [66]:
def grocery_bill(**kwargs):
#     print(kwargs)
    if "discount" in kwargs:
        discount = kwargs.pop("discount")
    else: 
        discount = 0
#     print("discount: ", discount)
    total = sum(kwargs.values())
    
    final_total = total - total * discount
    
    return final_total

In [69]:
grocery_bill(apple = 100, banana = 20 ,milk = 130, discount = 0.2)

200.0

**Create a function `filter_even_odd` that takes any number of integers using `*args` and returns two lists: one with even numbers and one with odd numbers.**

In [71]:
# numbers = [4, 5, 6,1, 3, 5]

# even_list = [4, 6]
# odd_list = [5, 1, 3, 5]

In [83]:
def check_even(number):
    if number % 2 ==0:
        return True
    return False


def check_even(number):
    return number %2 ==0

In [85]:
check_even(61)

False

In [81]:
def filter_even_odd(*args):
    even_list = [number for number in args if check_even(number)]
    odd_list = [number for number in args if not check_even(number)]
    return even_list, odd_list

In [82]:
even_list, odd_list =  filter_even_odd(1,2, 3, 4)
even_list, odd_list

([2, 4], [1, 3])