##### 1. Create a list of the following Indian cities: Mumbai, Delhi, Bengaluru, Kolkata, Chennai. Print the second and fourth cities from the list.

In [1]:
list_of_cities = ["Mumbai", "Delhi", "Bengaluru", "Kolkata", "Chennai"]

In [3]:
print(list_of_cities[1])

Delhi

In [4]:
list_of_cities[1]

'Delhi'

In [5]:
list_of_cities[3]

'Kolkata'

##### 2. Given the list of names ["Rahul", "Anita", "Suresh", "Priya", "Rohan"], slice and print the first three names.

In [9]:
names = ["Rahul", "Anita", "Suresh", "Priya", "Rohan"]
print(names[0:3])

['Rahul', 'Anita', 'Suresh']

##### 3. Appending and Inserting Elements

Create a list of fruits: ["Apple", "Banana", "Mango"].

Add "Orange" to the end of the list.
Insert "Grapes" at index 2.

In [11]:
fruits = ["Apple", "Banana", "Mango"]

In [13]:
fruits.append("Orange")

In [14]:
fruits

['Apple', 'Banana', 'Mango', 'Orange']

In [16]:
fruits.insert(2, "Grapes")

In [19]:
fruits

['Apple', 'Banana', 'Grapes', '', 'Mango', 'Orange']

In [18]:
fruits[2]

'Grapes'

In [20]:
fruits.remove("")

In [21]:
fruits

['Apple', 'Banana', 'Grapes', 'Mango', 'Orange']

##### 4. Removing Elements (pop, remove, clear)
Question:
Given the list of players ["Sachin", "Virat", "Dhoni", "Rohit"]:

    Remove the last element using pop().
    Remove "Virat" using remove().
    Clear the entire list.

In [22]:
players = ["Sachin", "Virat", "Dhoni", "Rohit"]

In [23]:
players.pop()

'Rohit'

In [24]:
players

['Sachin', 'Virat', 'Dhoni']

In [25]:
players.remove("Virat")

In [26]:
players

['Sachin', 'Dhoni']

In [27]:
players.clear()

In [28]:
players

[]

##### 5. Sorting and Reversing a List
Question:
Create a list of numbers: [9, 3, 6, 1, 8].

    Sort the list in ascending order.
    Reverse the list after sorting.

In [34]:
numbers = [9, 3, 6, 1, 8]

In [30]:
sorted(numbers)

[1, 3, 6, 8, 9]

In [32]:
numbers.sort()

In [33]:
numbers

[1, 3, 6, 8, 9]

In [35]:
numbers

[9, 3, 6, 1, 8]

In [38]:
sorted_numbers = sorted(numbers, reverse=True)

In [39]:
sorted_numbers

[9, 8, 6, 3, 1]

In [40]:
sorted_numbers.reverse()  # in place operation

In [42]:
sorted_numbers

[1, 3, 6, 8, 9]

In [45]:
sorted_numbers[::-1] # not in place operation ( returns only a view )

[9, 8, 6, 3, 1]

In [46]:
sorted_numbers

[1, 3, 6, 8, 9]

##### 6. Finding the Length of a List
Question:
Create a list of five Indian states: ["Maharashtra", "Tamil Nadu", "Kerala", "Rajasthan", "Punjab"]. Print the length of the list.

##### 8. Nested Lists (2D List)
Question:
Create a nested list of students and their marks:
[["Amit", 85], ["Pooja", 90], ["Ravi", 75]].
Print the marks of the second student (Pooja).

In [47]:
students = [ ["Amit", 85], ["Pooja", 90], ["Ravi", 75]]

In [50]:
print(students[1][1])

90

##### 9. Using in and not in Operators
Question:
Given the list ["Delhi", "Mumbai", "Chennai", "Kolkata"], check if "Hyderabad" is present in the list. If not, print "Hyderabad is not in the list".

In [53]:
cities = ["Delhi", "Mumbai", "Chennai", "Kolkata"]

if "Hyderabad" not in cities:
    print("Hyderabad is not in the list")

Hyderabad is not in the list

In [57]:
if "Hyderabad"  in cities:
    print("hello hyderabad")
else:
    print("Hyderabad is not in the list")

hello hyderabad

In [56]:
cities.append("Hyderabad")

'/Users/ram/Documents/codeverra/PythonMastery'