In [2]:
list_of_students = ["Ram", "Shyam", "Radheshyam"]
# message = f"Welcome {name_of_student}! "

In [4]:
name_of_student=  list_of_students[0]
message = f"Welcome {name_of_student}! How are you? "
print(message)

Welcome Ram!

In [6]:
name_of_student=  list_of_students[1]
message = f"Welcome {name_of_student}! "
print(message)

Welcome Shyam!

In [7]:
name_of_student=  list_of_students[2]
message = f"Welcome {name_of_student}! "
print(message)

Welcome Radheshyam!

In [9]:
list_of_students

['Ram', 'Shyam', 'Radheshyam']

In [14]:
for x in list_of_students:
    print(f"Welcome {x} ! How are you?")
#     print(x)

Welcome Ram ! How are you?
Welcome Shyam ! How are you?
Welcome Radheshyam ! How are you?

In [23]:
list_of_numbers = [4, 5, 10, 13, 21, 45, 41, 34, 98, 12, 34, 67]

In [24]:
nums[0] % 2 == 0

True

In [25]:
for number in list_of_numbers:
    if (number % 2 == 0):
        print(f"{number} is even")
    else:
        print(f"{number} is odd")

4 is even
5 is odd
10 is even
13 is odd
21 is odd
45 is odd
41 is odd
34 is even
98 is even
12 is even
34 is even
67 is odd

In [26]:
list_of_numbers

[4, 5, 10, 13, 21, 45, 41, 34, 98, 12, 34, 67]

##### Iterating on the values

In [30]:
for number in list_of_numbers:
    print(number,"---->" ,number * 2)

4 ----> 8
5 ----> 10
10 ----> 20
13 ----> 26
21 ----> 42
45 ----> 90
41 ----> 82
34 ----> 68
98 ----> 196
12 ----> 24
34 ----> 68
67 ----> 134

### Iterating on index

In [31]:
list_of_numbers

[4, 5, 10, 13, 21, 45, 41, 34, 98, 12, 34, 67]

In [32]:
len(list_of_numbers)

12

In [38]:
for ind in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]:
    print(list_of_numbers[ind], "--->",list_of_numbers[ind] * 2)

4 ---> 8
5 ---> 10
10 ---> 20
13 ---> 26
21 ---> 42
45 ---> 90
41 ---> 82
34 ---> 68
98 ---> 196
12 ---> 24
34 ---> 68
67 ---> 134

 ### Range Function

In [40]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
list(range(5, 20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [44]:
list(range(0, 20, 5))

[0, 5, 10, 15]

In [45]:
list_of_numbers

[4, 5, 10, 13, 21, 45, 41, 34, 98, 12, 34, 67]

In [49]:
list(range(len(list_of_numbers)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [48]:
for ind in range(len(list_of_numbers)):
    print(ind)

0
1
2
3
4
5
6
7
8
9
10
11

#### Example: Printing Odd Numbers between 1 and 20

In [52]:
list_of_numbers = list(range(1, 21))
list_of_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [54]:
## iterated on the value
for number in list_of_numbers:
    if number % 2 != 0:
        print(number)

1
3
5
7
9
11
13
15
17
19

In [55]:
range(len(list_of_numbers))

range(0, 20)

In [56]:
## iterated on the index

for ind in range(len(list_of_numbers)):
    number = list_of_numbers[ind]
    if number % 2 != 0:
        print(number)

1
3
5
7
9
11
13
15
17
19

#### Example: Make a list of all  Odd Numbers between 1 and 20

In [57]:
odd_numbers = []
for number in list_of_numbers:
    if number % 2 != 0:
        odd_numbers.append(number)
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [58]:
odd_numbers = []
for ind in range(len(list_of_numbers)):
    number = list_of_numbers[ind]
    if number % 2 != 0:
        odd_numbers.append(number)
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [59]:
country = "United States of America"
for character in country:
    print(character)

U
n
i
t
e
d

S
t
a
t
e
s

o
f

A
m
e
r
i
c
a

In [60]:
capitals = {"Maharashtra": "Mumbai", "Tamil Nadu": "Chennai", "Karnataka": "Bangalore"}

In [63]:
capitals.keys()

dict_keys(['Maharashtra', 'Tamil Nadu', 'Karnataka'])

In [64]:
capitals.values()

dict_values(['Mumbai', 'Chennai', 'Bangalore'])

In [67]:
list(zip(capitals.keys(), capitals.values()))

[('Maharashtra', 'Mumbai'),
 ('Tamil Nadu', 'Chennai'),
 ('Karnataka', 'Bangalore')]

In [71]:
for pair in list(zip(capitals.keys(), capitals.values())):
    print(f"Capital of {pair[0]}  is {pair[1]}")

Capital of Maharashtra  is Mumbai
Capital of Tamil Nadu  is Chennai
Capital of Karnataka  is Bangalore

In [72]:
for state, capital in list(zip(capitals.keys(), capitals.values())):
    print(f"Capital of {state}  is {capital}")

Capital of Maharashtra  is Mumbai
Capital of Tamil Nadu  is Chennai
Capital of Karnataka  is Bangalore

In [75]:
for pair in list(capitals.items()):
    print(f"Capital of {pair[0]}  is {pair[1]}")

Capital of Maharashtra  is Mumbai
Capital of Tamil Nadu  is Chennai
Capital of Karnataka  is Bangalore

In [76]:
for state, capital in list(capitals.items()):
    print(f"Capital of {state}  is {capital}")

Capital of Maharashtra  is Mumbai
Capital of Tamil Nadu  is Chennai
Capital of Karnataka  is Bangalore

In [65]:
for x in capitals.values():
    print(x)

Mumbai
Chennai
Bangalore

#### Write a `for` loop to **calculate the sum of even numbers** between 1 and 100.

In [2]:
even_numbers = []
for number in range(1,100):
    if number %2 ==0: 
        even_numbers.append(number)
even_numbers

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [3]:
sum(even_numbers)

2450

In [4]:
sum_of_numbers = 0

for number in range(1, 100):
    if number %2==0:
#         sum_of_numbers  = sum_of_numbers + number
        sum_of_numbers += number
        
sum_of_numbers

2450

In [8]:
sum_of_numbers = 1

for number in range(1, 100):
    if number %2==0:
#         sum_of_numbers  = sum_of_numbers + number
        sum_of_numbers *= number
        
sum_of_numbers

342432247025119762482464328952081859751186750537191988279156544634880000000000

Given a list of student names: `["Anil", "Sunita", "Aman", "Ravi", "Asha", "Suresh"]`,  
- Write a `for` loop to **print only the names that start with 'A'**.

In [9]:
list_of_students = ["Anil", "Sunita", "Aman", "Ravi", "Asha", "Suresh"]

In [11]:
for student in list_of_students:
    if student[0] == "A":
        print(student)

Anil
Aman
Asha

In [12]:
sublist = []
for student in list_of_students:
    if student[0] == "A":
        sublist.append(student)
sublist

['Anil', 'Aman', 'Asha']

Given a dictionary representing **expenses**:
```python
expenses = {"Rent": 15000, "Groceries": 5000, "Transport": 3000, "Utilities": 2000}
```
- Write a `for` loop to **calculate the total monthly expense**.

In [13]:
expenses = {"Rent": 15000, "Groceries": 5000, "Transport": 3000, "Utilities": 2000}

In [18]:
sum(expenses.values())

25000

In [16]:
total_expense = 0
for expense in expenses.values():
    total_expense = total_expense + expense
total_expense

25000

Write a `for` loop to **generate and print the multiplication table of 5**.

In [20]:
for i in range(1, 10):
    print(f"5 x {i} =   {5 * i}")

5 x 1 =   5
5 x 2 =   10
5 x 3 =   15
5 x 4 =   20
5 x 5 =   25
5 x 6 =   30
5 x 7 =   35
5 x 8 =   40
5 x 9 =   45

**Write a `for` loop to generate and print the multiplication table of a number. Ask the user for the number**

Write a `for` loop to **count the number of vowels** in the string `"Incredible India"`.

In [31]:
text = "Incredible India"
vowels = "aeiou"
# vowels = "aeiouAEIOU"

In [32]:
"f" in vowels

False

In [36]:
"i".lower()

'i'

In [34]:
counter = 0
for character in text:
    if character.lower() in vowels:
        counter = counter + 1
counter

7

In [103]:
for i in range(1, 11):
    print(f"5 X {i} = {5*i}")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

Write a `for` loop to **count the number of vowels** in the string `"Incredible India"`.

In [111]:
text = "Incredible India"
vowel_list = []

for character in text:
#     if character in "AEIOUaeiou":
#         vowel_list.append(character)
    
#     if character in "aeiou" or character in "AEIOU":
#         vowel_list.append(character)
    
    if character.lower() in "aeiou": #best way
        vowel_list.append(character)
        
len(vowel_list)

7

In [113]:
text = "Incredible India"
vowel_counter = 0

for character in text:
    
    if character.lower() in "aeiou": #best way
#         vowel_counter = vowel_counter + 1
        vowel_counter += 1
        
vowel_counter

7

## List Comprehension

**Generate squares of odd numbers from 1 to 20.**

In [148]:
new_list = []
for number in range(1, 20):
    if number%2==1:
        new_list.append(number)
new_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [154]:
new_list = []
for number in numbers:
    if number %2==1:
        new_list.append(number)
new_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [155]:
new_list = [number for number in numbers if number %2==1 ]
new_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

**generate a list of students whose name starts with A**

In [125]:
students = ["Anil", "Sunita", "Aman", "Ravi", "Asha", "Suresh"]

In [158]:
new_list = []
for student in students:
    if student[0]=="A":
        new_list.append(student)
    
new_list

['Anil', 'Aman', 'Asha']

In [160]:
new_list = [student for student in students if student[0]=="A"]
new_list

['Anil', 'Aman', 'Asha']

**Given a list of all number from 1 to 10 generate a new list that contains square of all odd numbers and cube of all even numbers**

In [161]:
new_list = []
for number in range(1, 10):
    if number % 2 == 0:
        new_list.append(number**3)
    else:
        new_list.append(number**2)
new_list

[1, 8, 9, 64, 25, 216, 49, 512, 81]

In [165]:
new_list = []
for num in range(1, 10):
    new_list.append(num**3 if num %2==0 else num**2)
new_list

[1, 8, 9, 64, 25, 216, 49, 512, 81]

In [168]:
new_list = [num**3 if num %2==0 else num**2 for num in range(1, 10) ]

**Filter city names with an even number of characters.**

In [140]:
cities = ["Mumbai", "Chennai", "Pune", "Kolkata", "Delhi", "Bengaluru"]

In [169]:
new_list = []
for city in cities:
    if len(city) %2 ==0:
        new_list.append(city)
new_list

['Mumbai', 'Pune']

In [171]:
new_list = [city for city in cities if len(city)%2==0 ]
new_list

['Mumbai', 'Pune']

**Flatten a 2D list of cricket scores into a single list.**

In [145]:
scores = [ [50, 75], [120, 98], [45, 67] ]
[50, 75, 120, 98, 45, 67]

In [174]:
result= []
for sublist in scores:
    print(sublist)
    for number in sublist:
        print(number)
        result.append(number)
result

[50, 75]
50
75
[120, 98]
120
98
[45, 67]
45
67

[50, 75, 120, 98, 45, 67]

In [184]:
[number for sublist in scores for number in sublist]

[50, 75, 120, 98, 45, 67]

## Dictionary Comprehensions

**Create a dictionary of numbers from 1 to 10 and their squares.**

In [185]:
## {1:1, 2:4, 3:9 ..}

In [186]:
result = {}
for num in range(1, 10):
    result[num] = num**2
result

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [187]:
{ num : num**2  for num in range(1, 10)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

**Extract students with scores greater than 75.**

```students = {"Aman": 85, "Ravi": 65, "Simran": 90, "Priya": 72}```

In [188]:
students = {"Aman": 85, "Ravi": 65, "Simran": 90, "Priya": 72}

In [195]:
new_dict = {}
for name, score in students.items():
    if score > 75:
        new_dict[name] = score
new_dict

{'Aman': 85, 'Simran': 90}

In [190]:
{x : y for x, y in students.items() if y > 75 }

{'Aman': 85, 'Simran': 90}

In [198]:
new_list = []
for name, score in students.items():
    if score > 75:
        new_list.append((name, score))
dict(new_list)

{'Aman': 85, 'Simran': 90}

**Map words to their lengths.**

```words = ["Python", "Comprehension", "Dictionary", "List"]```

In [200]:
words = ["Python", "Comprehension", "Dictionary", "List"]

In [202]:
mapping = {}

for word in words:
    mapping[word] = len(word)
mapping

{'Python': 6, 'Comprehension': 13, 'Dictionary': 10, 'List': 4}

In [203]:
{ word : len(word) for word in words }

{'Python': 6, 'Comprehension': 13, 'Dictionary': 10, 'List': 4}

In [204]:
mapping_list = []
for word in words:
    mapping_list.append((word, len(word)))
mapping_list

[('Python', 6), ('Comprehension', 13), ('Dictionary', 10), ('List', 4)]

In [205]:
dict(mapping_list)

{'Python': 6, 'Comprehension': 13, 'Dictionary': 10, 'List': 4}

**Keep dictionary entries where the values have more than 5 characters.**

```fruits = {"apple": "red", "banana": "yellow", "grape": "purple"}```

In [208]:
fruits = {"apple": "red", "banana": "yellow", "grape": "purple"}

In [209]:
new_dict = {}

for fruit, color in fruits.items():
    if len(color) > 5:
        new_dict[fruit] = color
new_dict

{'banana': 'yellow', 'grape': 'purple'}

In [210]:
new_dict = {}

for fruit in fruits:
    color = fruits[fruit]
    if len(color) > 5:
        new_dict[fruit] = color 


new_dict

{'banana': 'yellow', 'grape': 'purple'}

In [211]:
{fruit : color for fruit, color in fruits.items() if len(color) > 5}

{'banana': 'yellow', 'grape': 'purple'}