**Ask the user to enter a OTP. Once the correct OTP is entered, display a login confirmation**

In [1]:
correct_otp = 9876

In [2]:
otp = int(input("Enter the OTP"))
for i in range(3):
    if otp == correct_otp:
        print("YOU ARE NOW LOOGED IN!!!")
    else:
        print("WRONG OTP. TRY AGAIN :(")
        otp = int(input("Enter the OTP"))

Enter the OTP1234
WRONG OTP. TRY AGAIN :(
Enter the OTP4564
WRONG OTP. TRY AGAIN :(
Enter the OTP6756
WRONG OTP. TRY AGAIN :(
Enter the OTP6758

    while condition:
        print("Hello")

In [5]:
otp = int(input("Enter the OTP"))
while otp != correct_otp: # breaking condition
    
    print("WRONG OTP. TRY AGAIN :(")
    otp = int(input("Enter the OTP"))
    
print("YOU ARE NOW LOOGED IN!!!")

Enter the OTP63226
WRONG OTP. TRY AGAIN :(
Enter the OTP6323
WRONG OTP. TRY AGAIN :(
Enter the OTP32632
WRONG OTP. TRY AGAIN :(
Enter the OTP56236
WRONG OTP. TRY AGAIN :(
Enter the OTP646
WRONG OTP. TRY AGAIN :(
Enter the OTP6426
WRONG OTP. TRY AGAIN :(
Enter the OTP64262
WRONG OTP. TRY AGAIN :(
Enter the OTP6426
WRONG OTP. TRY AGAIN :(
Enter the OTP642642
WRONG OTP. TRY AGAIN :(
Enter the OTP642642
WRONG OTP. TRY AGAIN :(
Enter the OTP6426
WRONG OTP. TRY AGAIN :(
Enter the OTP64236
WRONG OTP. TRY AGAIN :(
Enter the OTP246426
WRONG OTP. TRY AGAIN :(
Enter the OTP9876
YOU ARE NOW LOOGED IN!!!

In [ ]:
otp = int(input("Enter the OTP"))
while otp != correct_otp: # breaking condition
    
    print("WRONG OTP. TRY AGAIN :(")
    
print("YOU ARE NOW LOOGED IN!!!")

Enter the OTP654

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

**Print Numbers from 1 to 5**

In [1]:
for num in range(5):
    print(num)

0
1
2
3
4

In [2]:
i = 0
while i < 5: # as long as this condition is true, the loops will be executed. 
    print(i)
    i = i + 1
print("OUT OF LOOP!!")

0
1
2
3
4
OUT OF LOOP!!

**Print Even Numbers between 1 and 10**

In [4]:
num = 0
while num < 10:
    if num % 2 == 0:
        print(num)
    num = num + 1

0
2
4
6
8

In [6]:
num = 0
even_numbers = []
while num < 10:
    if num % 2 == 0:
        even_numbers.append(num)
    num = num + 1 # updating the variable
even_numbers

[0, 2, 4, 6, 8]

**Ask the user to enter his name. If he enters the name, then show the person a welcome message. If  he doesnt enter the name then prompt again**

In [8]:
name = input("Enter your name : ")
while name == "": # user has not entered the name
    print("Enter a valid name ...")
    name = input("Enter your name : ")
print(f"Hello {name} !! ")

Enter your name :
Enter a valid name ...
Enter your name :
Enter a valid name ...
Enter your name :
Enter a valid name ...
Enter your name :
Enter a valid name ...
Enter your name :
Enter a valid name ...
Enter your name :
Enter a valid name ...
Enter your name :
Enter a valid name ...
Enter your name :
Enter a valid name ...
Enter your name :
Enter a valid name ...
Enter your name :
Enter a valid name ...
Enter your name :
Enter a valid name ...
Enter your name :
Enter a valid name ...
Enter your name :
Enter a valid name ...
Enter your name :
Enter a valid name ...
Enter your name : a
Hello a !!

## break continue pass

In [9]:
list_of_numbers = [2, 5, 6, 8, 15, 10]

for number  in list_of_numbers:
    print(number)
    if number > 10:
        print("EXITING")
        break

2
5
6
8
15
EXITING

In [ ]:
otp = int(input("Enter the OTP"))
while otp != correct_otp: # breaking condition
    
    print("WRONG OTP. TRY AGAIN :(")
    otp = int(input("Enter the OTP"))
    
print("YOU ARE NOW LOOGED IN!!!")

In [ ]:
correct_otp = 1234

In [13]:
correct_otp = 1234
otp = int(input("Enter the OTP"))
while True:
    print("WRONG OTP. TRY AGAIN :(")
    otp = int(input("Enter the OTP"))
    if otp == correct_otp:
        print("YOU ARE NOW LOGGED IN!!")
        break

**Find the sum of all the even numbers**

In [16]:
list_of_numbers = [4, 5, 10, 54, 43, 21, 34, 56]
sum_of_even_numbers = 0
for number in list_of_numbers:
    print(number)
    if number % 2 != 0: # the number is odd
        print("going to the next number")
        continue
    sum_of_even_numbers = sum_of_even_numbers + number
    

sum_of_even_numbers

4
5
going to the next number
10
54
43
going to the next number
21
going to the next number
34
56

158

## pass

In [22]:
list_of_numbers = [4, 5, 10, 54, 43, 21, 34, 56]
for number in list_of_numbers:
    if number % 2 ==0:
#         print(number * 2)
        pass
    else:
        print("Number is odd!!")

Number is odd!!
Number is odd!!
Number is odd!!

**Imagine you are searching for a customer's order in a long list. Once you find the relevant order, you donâ€™t need to check further.**
        
```orders = [{"order_id": 101, "customer": "Ravi"},{"order_id": 102, "customer": "Anita"},{"order_id": 103, "customer": "Ramesh"},]```

In [25]:
orders = [{"order_id": 101, "customer": "Ravi"},{"order_id": 102, "customer": "Anita"},{"order_id": 103, "customer": "Ramesh"},]

In [26]:
orders

[{'order_id': 101, 'customer': 'Ravi'},
 {'order_id': 102, 'customer': 'Anita'},
 {'order_id': 103, 'customer': 'Ramesh'}]

In [27]:
for order in orders:
    if order["order_id"] == 102:
        print("Name of the customer: ", order["customer"])
        break

Name of the customer:  Anita

**Given the list of transactions print only the successfull transactions**

```transactions = [{"id": 1, "status": "success", "amount": 1000},{"id": 2, "status": "failed", "amount": 500},{"id": 3, "status": "success", "amount": 750},]```

In [28]:
transactions = [{"id": 1, "status": "success", "amount": 1000},{"id": 2, "status": "failed", "amount": 500},{"id": 3, "status": "success", "amount": 750},]

In [29]:
transactions

[{'id': 1, 'status': 'success', 'amount': 1000},
 {'id': 2, 'status': 'failed', 'amount': 500},
 {'id': 3, 'status': 'success', 'amount': 750}]

In [31]:
for trans in transactions:
    if trans["status"]=="failed":
        continue
    print(trans)

{'id': 1, 'status': 'success', 'amount': 1000}
{'id': 3, 'status': 'success', 'amount': 750}

**Find out the first repeating character in a string**

In [38]:
string = "New Zealand"

my_set = set()
for character in string:
    if character in my_set:
        print(f"Repeating character found: {character}")
        break
    my_set.add(character)
# my_set

Repeating character found: e

**Find out the unique elements in the list of numbers given**

In [40]:
numbers = [1, 2, 2, 3, 4, 4, 5]

In [43]:
unique_list = []
for number in numbers:
    if number in unique_list:
        continue
    unique_list.append(number)
unique_list

[1, 2, 3, 4, 5]

In [60]:
ind = 0
while True:
    if ind == len(numbers)-1:
        break
    number = numbers[ind]
    if number in unique_list:
        ind += 1
        continue
    unique_list.append(number)
#     ind = ind + 1
    ind += 1

unique_list

[1, 2, 3, 4, 5]

In [63]:
numbers

[1, 2, 2, 3, 4, 4, 5]

In [72]:
ind = 0
unique_list = []
while ind < len(numbers):
    number = numbers[ind]
    if number in unique_list:
        ind += 1
        continue
    unique_list.append(number)
#     ind = ind + 1
    ind += 1

unique_list

[1, 2, 3, 4, 5]