## break continue pass

In [9]:
list_of_numbers = [2, 5, 6, 8, 15, 10]

for number  in list_of_numbers:
    print(number)
    if number > 10:
        print("EXITING")
        break

2
5
6
8
15
EXITING

In [ ]:
otp = int(input("Enter the OTP"))
while otp != correct_otp: # breaking condition
    
    print("WRONG OTP. TRY AGAIN :(")
    otp = int(input("Enter the OTP"))
    
print("YOU ARE NOW LOOGED IN!!!")

In [ ]:
correct_otp = 1234

In [13]:
correct_otp = 1234
otp = int(input("Enter the OTP"))
while True:
    print("WRONG OTP. TRY AGAIN :(")
    otp = int(input("Enter the OTP"))
    if otp == correct_otp:
        print("YOU ARE NOW LOGGED IN!!")
        break

**Find the sum of all the even numbers**

In [16]:
list_of_numbers = [4, 5, 10, 54, 43, 21, 34, 56]
sum_of_even_numbers = 0
for number in list_of_numbers:
    print(number)
    if number % 2 != 0: # the number is odd
        print("going to the next number")
        continue
    sum_of_even_numbers = sum_of_even_numbers + number
    

sum_of_even_numbers

4
5
going to the next number
10
54
43
going to the next number
21
going to the next number
34
56

158

## pass

In [22]:
list_of_numbers = [4, 5, 10, 54, 43, 21, 34, 56]
for number in list_of_numbers:
    if number % 2 ==0:
#         print(number * 2)
        pass
    else:
        print("Number is odd!!")

Number is odd!!
Number is odd!!
Number is odd!!

**Imagine you are searching for a customer's order in a long list. Once you find the relevant order, you donâ€™t need to check further.**
        
```orders = [{"order_id": 101, "customer": "Ravi"},{"order_id": 102, "customer": "Anita"},{"order_id": 103, "customer": "Ramesh"},]```

In [25]:
orders = [{"order_id": 101, "customer": "Ravi"},{"order_id": 102, "customer": "Anita"},{"order_id": 103, "customer": "Ramesh"},]

In [26]:
orders

[{'order_id': 101, 'customer': 'Ravi'},
 {'order_id': 102, 'customer': 'Anita'},
 {'order_id': 103, 'customer': 'Ramesh'}]

In [27]:
for order in orders:
    if order["order_id"] == 102:
        print("Name of the customer: ", order["customer"])
        break

Name of the customer:  Anita

**Given the list of transactions print only the successfull transactions**

```transactions = [{"id": 1, "status": "success", "amount": 1000},{"id": 2, "status": "failed", "amount": 500},{"id": 3, "status": "success", "amount": 750},]```

In [28]:
transactions = [{"id": 1, "status": "success", "amount": 1000},{"id": 2, "status": "failed", "amount": 500},{"id": 3, "status": "success", "amount": 750},]

In [29]:
transactions

[{'id': 1, 'status': 'success', 'amount': 1000},
 {'id': 2, 'status': 'failed', 'amount': 500},
 {'id': 3, 'status': 'success', 'amount': 750}]

In [31]:
for trans in transactions:
    if trans["status"]=="failed":
        continue
    print(trans)

{'id': 1, 'status': 'success', 'amount': 1000}
{'id': 3, 'status': 'success', 'amount': 750}

**Find out the first repeating character in a string**

In [38]:
string = "New Zealand"

my_set = set()
for character in string:
    if character in my_set:
        print(f"Repeating character found: {character}")
        break
    my_set.add(character)
# my_set

Repeating character found: e

**Find out the unique elements in the list of numbers given**

In [40]:
numbers = [1, 2, 2, 3, 4, 4, 5]

In [43]:
unique_list = []
for number in numbers:
    if number in unique_list:
        continue
    unique_list.append(number)
unique_list

[1, 2, 3, 4, 5]

In [60]:
ind = 0
while True:
    if ind == len(numbers)-1:
        break
    number = numbers[ind]
    if number in unique_list:
        ind += 1
        continue
    unique_list.append(number)
#     ind = ind + 1
    ind += 1

unique_list

[1, 2, 3, 4, 5]

In [63]:
numbers

[1, 2, 2, 3, 4, 4, 5]

In [72]:
ind = 0
unique_list = []
while ind < len(numbers):
    number = numbers[ind]
    if number in unique_list:
        ind += 1
        continue
    unique_list.append(number)
#     ind = ind + 1
    ind += 1

unique_list

[1, 2, 3, 4, 5]

## using the else block with loops

    for condition:
        print ("something")

    else:
        print("the loop completed successfully")

**Write a code to search through a list of file and display a suitable message if the file is not found**

```files = ["income_report_2022.pdf","expense_sheet.xlsx", "employee_data.csv", "presentation.pptx", "sales_report.pdf"]```

In [4]:
files = ["income_report_2022.pdf","expense_sheet.xlsx", "employee_data.csv", "presentation.pptx", "sales_report.pdf"]

In [5]:
files

['income_report_2022.pdf',
 'expense_sheet.xlsx',
 'employee_data.csv',
 'presentation.pptx',
 'sales_report.pdf']

In [9]:
file_to_look_for = "movies.mp4"

for file in files:
    if file == file_to_look_for:
        print(f"The file {file} was found!")
        break
else:
    print("The file was not found! ")

The file was not found!

**Use a `for` loop with `else` to check if a list has any repeated elements.**

```numbers = [1, 2, 3, 4, 5, 3, 1, 5, 6, 4]```

In [15]:
numbers = [1, 2, 28,  3, 4, 5, 31, 12, 51, 67, 43]

In [16]:
my_list = []
for number in numbers:
    if number not in my_list:
        my_list.append(number)
    else:
        print(f"Repeat number found! {number}")
        break
else:
    print("No repeat numbers were found!!! ")

No repeat numbers were found!!!

In [26]:
numbers = [1, 2, 28,   3, 4, 5, 31, 12, 51, 67, 43]

In [24]:
ind = 0
my_list = []

while ind < len(numbers):
    number= numbers[ind]
    if number not in my_list:
        my_list.append(number)
        ind = ind + 1
    else:
        print(f"Repeat number found! {number}")
        break
else:
    print("No repeat numbers were found!!! ")

Repeat number found! 28

In [27]:
ind = 0
my_list = []

while True:
    if ind < len(numbers):
        break
    
    number= numbers[ind]
    if number not in my_list:
        my_list.append(number)
        ind = ind + 1
    else:
        print(f"Repeat number found! {number}")
        break
else:
    print("No repeat numbers were found!!! ")

**Check if all students passed an exam. Use `else` to print a message if everyone passed.**

```students_scores = [85, 92, 78, 60, 49]```

In [32]:
students_scores = [85, 92, 78,35 , 60, 49]
passing_score = 40

In [33]:
for score in students_scores:
    if score < passing_score:
        print(f"Student with marks {score} has failed!")
        break
else:
    print("All the students have passed!!!")

Student with marks 35 has failed!

## enumerate function in loops

In [35]:
fruits = [ ['Apple', 10], ['Banana', 5], ['Orange', 8] ]


# '''

# 1. Apple 10pcs
# 2. Banana 5 pcs
# 3. Orange 8pcs

# '''

In [39]:

for fruit in  fruits:
    print(f"  {fruit[0]}  {fruit[1]}pcs", )

  Apple  10pcs
  Banana  5pcs
  Orange  8pcs

In [38]:
count = 1
for fruit in  fruits:
    print(f" {count}. {fruit[0]}  {fruit[1]}pcs", )
    count = count + 1

 1. Apple  10pcs
 2. Banana  5pcs
 3. Orange  8pcs

In [43]:

for ind in  range(len(fruits)):
    fruit = fruits[ind]
    print(f"{ind + 1}.  {fruit[0]}  {fruit[1]}pcs", )

1.  Apple  10pcs
2.  Banana  5pcs
3.  Orange  8pcs

In [45]:
list(enumerate(fruits))

[(0, ['Apple', 10]), (1, ['Banana', 5]), (2, ['Orange', 8])]

In [49]:
list(enumerate(fruits, start = 1))

[(1, ['Apple', 10]), (2, ['Banana', 5]), (3, ['Orange', 8])]

In [50]:
for ind, fruit in enumerate(fruits, start = 1):
    print(f"{ind}.  {fruit[0]}  {fruit[1]}pcs", )

1.  Apple  10pcs
2.  Banana  5pcs
3.  Orange  8pcs

**Use `enumerate()` to convert a list of city names into a dictionary where the key is the index and the value is the city name.**

```cities = ["Mumbai", "Delhi", "Chennai", "Kolkata"]```

In [51]:
{
    0 : "Mumbai",
    1 : "Delhi"
}

{0: 'Mumbai', 1: 'Delhi'}

In [53]:
cities = ["Mumbai", "Delhi", "Chennai", "Kolkata"]

In [54]:
city_dictionary = {}
for ind, city in enumerate(cities):
    city_dictionary[ind] = city
    
city_dictionary

{0: 'Mumbai', 1: 'Delhi', 2: 'Chennai', 3: 'Kolkata'}

In [56]:
city_dictionary = {ind : city for ind, city in enumerate(cities)}
city_dictionary

{0: 'Mumbai', 1: 'Delhi', 2: 'Chennai', 3: 'Kolkata'}

In [59]:
city_dictionary = {}
for ind in range(len(cities)):
    city = cities[ind]
    city_dictionary[ind] = city
    
city_dictionary

{0: 'Mumbai', 1: 'Delhi', 2: 'Chennai', 3: 'Kolkata'}

**Use `enumerate()` to increase all even-indexed elements in a list by 10.**

```numbers = [5, 7, 2, 8, 10, 3]```

In [62]:
numbers = [5, 7, 2, 8, 10, 3]

In [63]:
for ind, number in enumerate(numbers):
    if ind % 2 ==0 :
#         numbers[ind] =  numbers[ind] + 10
        numbers[ind] += 10
numbers

[15, 7, 12, 8, 20, 3]

**Use `enumerate()` to loop over two lists and print the index with elements from both lists.**

```
names = ["Aman", "Ravi", "Simran"]
scores = [85, 90, 78]
```

In [65]:
# '''
# 1. Aman 85
# 2. Ravi 90
# 3. Simran 78'''

In [73]:
names = ["Aman", "Ravi", "Simran"]
scores = [85, 90, 78]

In [68]:
list(zip(names, scores))

[('Aman', 85), ('Ravi', 90), ('Simran', 78)]

In [74]:
list(zip(names, scores))

[('Aman', 85), ('Ravi', 90), ('Simran', 78)]

In [76]:
list(enumerate(list(zip(names, scores))))

[(0, ('Aman', 85)), (1, ('Ravi', 90)), (2, ('Simran', 78))]

In [94]:
for ind, (name, score) in enumerate(list(zip(names, scores)), start = 1):
    print(f"{ind}. {name} {score}")

1. Aman 85
2. Ravi 90
3. Simran 78

In [99]:
for ind, (name, score) in enumerate(list(zip(names, scores)), start = 1):
    print(f"{ind}. {name:>10} {score:>20}")

1.       Aman                   85
2.       Ravi                   90
3.     Simran                   78

In [104]:
for ind, (name, score) in enumerate(list(zip(names, scores)), start = 1):
    print(f"{ind}. {name:>10} {score:->10}")

1.       Aman --------85
2.       Ravi --------90
3.     Simran --------78