
**Question**: Given the string `"Kerala"`, print the first and last characters using positive and negative indexing.

In [1]:
state = "Kerala"

In [3]:
state[0], state[-1]

('K', 'a')

In [5]:
type((state[0], state[-1]))

tuple

**Question**: Extract the word `"Biryani"` from the string `"Hyderabadi Biryani"`.

In [7]:
food = "Hyderabadi Biryani"
food.split()[-1]

'Biryani'

In [8]:
food = "Hyderabadi Biryani"
food.find("Biryani")

11

In [10]:
word_to_find = "Biryani"

start_index = food.find(word_to_find)
food[start_index : start_index+ len(word_to_find) ]

'Biryani'

**Question**: Concatenate `"Good"` and `"Morning"` with a space in between, and print it.

In [15]:
"Good" + " "  +"Morning"

'Good Morning'

In [16]:
f"Good Morning"

'Good Morning'

In [18]:
" ".join(["Good" , "Morning"])

'Good Morning'

**Question**: Print `"Namaste "` five times using string repetition.

In [19]:
x = "Namaste "
x*5

'Namaste Namaste Namaste Namaste Namaste '

**Question**: Find the length of the string `"Chennai Super Kings"`.

In [20]:
len("Chennai Super Kings")

19

**Question**: Convert `"Incredible India"` to uppercase and `"MAHATMA"` to lowercase.

In [21]:
"Incredible India".upper()

'INCREDIBLE INDIA'

In [22]:
"MAHATMA".lower()

'mahatma'

In [23]:
x = "MAHATMA"
x.lower()

'mahatma'

**Question**: Remove leading and trailing whitespaces from the string `"  Bengaluru  "`.

In [24]:
x = "  Bengaluru  "
x.strip()

'Bengaluru'

In [26]:
x = "  Bengaluru  "
x.replace(" ", "")

'Bengaluru'

**Question**: Split `"Rajma,Chole,Paneer"` into a list of food items.

In [28]:
"Rajma,Chole,Paneer".split(",")

['Rajma', 'Chole', 'Paneer']

**Question**: Join a list of Indian festivals into a single string separated by commas.

In [31]:
festivals = ["Diwali", "Holi", "Eid", "Navratri"]
",".join(festivals)

'Diwali,Holi,Eid,Navratri'

**Question**: Replace `"Mumbai"` with `"Bombay"` in the string `"I live in Mumbai"`.

In [35]:
new_sentence = "I live in Mumbai".replace("Mumbai","Bombay" )
new_sentence

'I live in Bombay'

**Question**: Format a string to display the score of `"Virat"` in a cricket match.

In [37]:
player = "Virat"
score = 85

print(f"Player : {player} | Score : {score}")

Player : Virat | Score : 85

In [42]:
player = "Virat"
score = input("Enter Score:" )

print(f"Player : {player} | Score : {score}")

Enter Score:65
Player : Virat | Score : 65

**Question**: Check if `"Rajasthan"` is in the string `"Welcome to Rajasthan tourism"`.

In [44]:
"a" in "apple"

True

In [45]:
"Rajasthan" in  "Welcome to Rajasthan tourism"

True

**Question**: Print `"It's Raining"` with the help of an escape character.

In [48]:
'It\'s Raining'

"It's Raining"

In [53]:
path = r"C:\Users\Admin"
print(path)

C:\Users\Admin

In [55]:
print(r"\nHello")

\nHello

**Question**: Write a function to check if a given string is a palindrome. Test it with `"madam"` and `"chennai"`.

In [65]:
text = "delhi"

In [66]:
reverse = text[::-1]
print(reverse)

ihled

In [90]:
text = "delhi"
text_list = list(text)

In [92]:
text_list.reverse()

In [95]:
reverse_text = "".join(text_list)

In [69]:
if text == reverse:
    print(f"{text} is a palindrome")
else:
    print(f"{text} is not a palindrome")

delhi is not a palindrome